<div style="font-family: sans-serif;">
    <h2 style="color: blue;"> 
        verify your email 
     </h2>

        <p style="color: gray;">
            please click the link below to activate your account:
        </p>
        
       <a href="<%= link %>">
        verify your account
       </a>
   
</div>